body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    float: left;
}

a {
    display: block;
    padding: 5px;
    margin: 0 5px;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.header, .footer {
    padding: 6px;
}

.footer {
    background-color: rgb(242, 242, 242);
}

.header-left, .footer-left {
    float: left;
}

.header-right, .footer-right {
    float: right;
}

.center {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

#avatarSmall {
    border-radius: 50%;
}